{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <h1>Contacto</h1>
    
    <section class="contacto">
        <p>Informacion de Contacto de VeraMedica: </p>
        <dl>
            <dt>Direccion</dt><dd>Av. 16 de Septiembre No. 1002 A</dd>
            <dt>Ciudad</dt><dd>Col. Ricardo Flores Magón. Veracruz, Ver. C.P. 91900</dd>
            <dt>Telefono</dt><dd>(229) 932 2227</dd>
            <dt>Email</dt><dd>veramedica@hotmail.com</dd>
        </dl>
    </section>
{% endblock %}
