{% extends "base.html" %}

{% block title %}Turno Reservado{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h2>Turno modificado: </h2>

<section>

    <label>
        <h3>Nombre:</h3>
        {{turnonuevo.nombre}}
    </label>

    <label>
        <h3> Tel: </h3>
        {{turnonuevo.tel}}
    </label>

    <label>
        <h3> Email: </h3>
        {{turnonuevo.email}}
    </label>

    <label>
        <h3> Edad: </h3>
        {{turnonuevo.edad}}
    </label>

    <label>
        <h3> Talla de calzado: </h3>
        {{turnonuevo.talla}}
    </label>

    <label>
        <h3> Altura: </h3>
        {{turnonuevo.altura}}
    </label>

    <label>
        <h3> Fecha de Nacimiento: </h3>
        {{turnonuevo.nacimiento}}
    </label>

    <label>
        <h3> Color de pelo: </h3>
        {{turnonuevo.cpelo}}
    </label>

    <label>
        <h3> Fecha del turno: </h3>
        {{turnonuevo.fechaturno|date ("d/m/Y")}}
    </label>

    <label>
        <h3> Hora del turno: </h3>
        {{turnonuevo.horaturno|date('H:i')}}
    </label>

    {% if diagnosticoImg is not empty %}
        <label>
            <h3>Diagnostico: </h3>
            <img src="data:image/{{turno.extension}};base64,{{diagnosticoImg}}">
        </label>
    {% else %}
        <label>
            <h3>Diagnostico: </h3>
            <p>Sin Diagnostico</p>
        </label>
    {% endif %}

</section>
{% endblock %}
