{% extends "base.html" %}

{% block title %}Turno{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<section class="ficha">
    <h2>Informacion sobre el turno seleccionado: </h2>

    <section class="fichaPaciente">  
        <label>
            <h3>Nombre</h3>
            <div class="info">
                {{turno.nombre}}
            </div>
        </label>

        <label>
            <h3>Tel</h3>
            <div class="info">
                {{turno.tel}}
            </div>
        </label>

        <label>
            <h3>Email</h3>
            <div class="info">
                {{turno.email}}
            </div>
        </label>

        <label>  
            <h3>Edad</h3>
            <div class="info">
                {{turno.edad}}
            </div>
        </label>

        <label>
            <h3>Talla de calzado</h3>
            <div class="info">
                {{turno.talla}}
            </div>
        </label>

        <label>
            <h3>Altura</h3>
            <div class="info">
                {{turno.altura}}
            </div>
        </label>

        <label>
            <h3>Fecha de Nacimiento</h3>
            <div class="info">
                {{turno.nacimiento|date ("d/m/Y")}}
            </div>
        </label>

        <label>
            <h3>Color de pelo</h3>
            <div class="info">
                {{turno.cpelo}}
            </div>
        </label>
    </section>

    <section class="fichaTurno">
        <label>
            <h3>Fecha del turno</h3>
            {{turno.fechaturno|date ("d/m/Y")}}
        </label>

        <label>
            <h3>Hora del turno</h3>
            {{turno.horaturno|date('H:i')}}
        </label>
    </section>

    <section class="diag">
    {% if diagnosticoImg is not empty %}
        <label>
            <h3>Diagnostico</h3>
            <img src="data:image/{{turno.extension}};base64,{{diagnosticoImg}}">
        </label>
    {% else %}
        <label> 
            <h3>Diagnostico</h3>
            <p>Sin Diagnostico</p>
        </label>
    {% endif %}
    </section>
</section>
{% endblock %}