/* color verde 0,150,69 
    color azul 0, 110, 199*/

@import url(font/swiss.css);

html{
    min-height: 100%;
    position: relative;
    font-family: "Swiss721CondensedBT", Arial, sans-serif;
}

body {
    background: white;
    position: relative;
}

h1{
    text-align: center;
    width: 100%;
    font-size: xx-large;
}

h2{
    text-align: center;
    width: 100%;
    font-size: x-large;
}

/*----------------Menu----------------*/

#Menu img{
    margin: auto;
    width: 30%;
    display: block;
}

#listaMenu{
    
    display: flex;
    justify-content: left;
    background-color: rgb(0,150,69);
    border-style: solid none none none;
    border-width: 8px;
    border-color: rgb(0, 110, 199);
    padding: 2%;
}

#listaMenu a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

#listaMenu li{
    display: inline;
    margin-right: 5%;
}

/*----------------Home----------------*/

#Home {
    margin-bottom: 20%;
}

/*----------------Consigna----------------*/

#consignamain{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}

#spanconsigna{
    font-size: medium;
}

/*----------------Contacto----------------*/

.contacto p{
    font-size: large;
}

.contacto dl {
    text-align: justify;  
}

.contacto dt {
    font-weight: bold;
    font-size: large;
}

.contacto dd {
    font-size: small;
}

/*----------------Turnos----------------*/

.tablaturnos{
    text-align: center;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.tablaturnos th, td{
    padding: 1%;

}

.tablaturnos tr:nth-child(even){
    background-color: #ddd;
}

.tablaturnos thead{
    background-color: rgb(0, 110, 199);
    border-bottom: 5px solid rgb(4, 52, 116);
}

/*----------------Turno Nuevo----------------*/

fieldset{
    border-radius:10px;
}

.formulario{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.campos{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%
}

.campos article{
    margin: 2%
}

.campos select{
    width: 53%;
}

.campos input, select{
    width: 50%;
    float: right;
    font-family: "Swiss721CondensedBT", Arial, sans-serif;
    padding: 1%;
    border-radius:5px;
}

.campos label{
    margin-right: 1%;
    font-weight: bold;
}

.campos img{
    width: 100%;
}

.fondo{
    margin-left: 3%;
    font-weight: bold;
}


.fondo article{
    margin-bottom: 2%;
}

.botones input{
    width: 15%;
    background-color: rgb(0, 110, 199);
    color: white;
    margin-left: 23%;
    border-radius: 10px;
}

/*----------------Ficha Turno---------------*/

.info{
    text-align:center;
    align-items: center;
    display: inline-block;
}

.fichaPaciente{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
    text-align:center;
    flex-wrap: wrap;
}


.fichaTurno{
    display: flex;
    justify-content: space-evenly;
    text-align:center;
}

.diag{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
    text-align:center;
}

.diag img{
    width: 50%;
}

/*----------------Footer----------------*/

footer{
    background-color: rgb(0,150,69);
    border-style: solid none none none;
    border-width: 8px;
    border-color: rgb(0, 110, 199);
    padding: 1%;
    clear: both;
}

#pie span{
    color: white;
    display: block;
    text-align: center;
}

/*----------------Botones Responsive----------------*/

@media all and (max-width: 600px) {
    .diagnosticoimg input{
        width: 100%;
        float:none;
    }

    .botones input{
        width: 20%;
        float:none;

    }

    .campos input{
        width: 100%;
    } 
}
